aiohttp==3.9.5
black==23.3.0
flask==3.0.0
flask-socketio==5.3.5
furo==2024.8.6
maturin==1.6.0
mypy==1.15.0
myst-parser==4.0.1
pytest==7.4.0
pytest-xdist==3.6.1
pytest-timeout==2.3.1
requests==2.32.3
Sphinx==8.1.3
python-socketio==5.9.0
python-engineio==4.7.1